*{
    padding: 0;
    margin: 0;

}
:root{
    --mainBorder:1px solid black;
}

.home-container{
    width: 100%;
}

.home-container nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 5px gray;
}

.home-container nav h2{
    font-size: 2.2rem;
    margin-left: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    color: rgb(32, 188, 215);
    font-weight: bolder;
    margin-bottom:0.5rem;    
}
.home-container nav span{
    color: gray;
}


.home-container nav ul{
    display: flex;
    list-style: none;
    text-transform: capitalize; 
    font-weight: 500;
    margin-right: 12rem;
}
.home-container nav ul li{
    padding: 0.8rem 1.3rem;
    font-size: 1.1rem;
}
.home-container nav ul li a{
    text-decoration: none;
    border: var(--mainBorder);
    border-radius: 50px;
    padding: 0.4rem 1.2rem;
    
}
.home-container nav ul li a:hover{
    background-color: gray;

}

.home-container .hero{
    border: var(--mainBorder);
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 90vh;
}

.home-container .hero h2{
    font-size: 5rem;
    letter-spacing: 2rem;
    position: relative;
}

.home-container .hero .img_one{
    position: absolute;
    top: 15%;
    left: 5%;
    border: var(--mainBorder);
    width: 15rem;
    height: 20rem;
}
.home-container .hero .img_two{
    position: absolute;
    bottom: 10%;
    right: 5%;
    border: var(--mainBorder);
    width: 15rem;
    height: 20rem;
}

.home-container .hero .img_one  img , .home-container .hero .img_two img{
    width: 100%;
    object-fit: contain;
    box-shadow: 50px 50px 0px black;
}